/** @format */

.card__top {
  
  &--left {
    display: flex;
    gap: 1rem;
  }
}

.card__bottom {
  margin-top: 1rem;
  width: 100%;

  &--difficulty {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
