/** @format */

.header {
  nav {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    background-color: $color-header-nav;
    color: $color-header-nav-text;
    height: 6rem;
  }
  h1 {
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    color: $color-header-nav-text;
    background-color: $color-dark-header;
  }
}
