/** @format */

body {
  width: 100%;
  text-align: left;
  font-family: 'work sans', sans-serif;
  font-size: 2.5rem;
}

.large-text {
  font-size: 5rem;
}
h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.6rem;
  font-family: sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 2.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
