/** @format */

$color-primary: #12810a;
$color-dark-header: #3c3c3c;
$color-body: white;
$color-header-nav: rgb(31, 134, 213);
$color-header-nav-text: rgb(255, 255, 255);
//fonts
$default-font-size: 1.6rem;
